In [7]:
# Import dependencies
import time
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
from selenium import webdriver
import requests as req
from splinter import browser
from selenium import webdriver
from selenium.webdriver.firefox.options import Options

In [49]:
executable_path = {"executable_path":"chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [50]:
nasa_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_url)
time.sleep(1)

html = browser.html
news_soup = bs(html,"html.parser")

In [51]:
# Pull in Mars news from NASA
title = news_soup.find('div',class_='content_title').text
article_summary = news_soup.find('li', class_='artile_teaser_body').text
# print(f"Article Title: {title}")
# print(f"Summary: {article_summary}")

In [52]:
# Pull in Mars images from NASA
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
time.sleep(1)

In [53]:
browser.find_by_css('a.button').click()

In [54]:
image_soup = bs(browser.html,'html.parser')
end = image_soup.find('img',class_='fancybox-image')['src']
JPL_image = "https://www.jpl.nasa.gov"+end
# print(JPL_image)

In [55]:
# Pull in Mars weather from Twitter
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)
time.sleep(1)

html = browser.html
weather_soup = bs(html,"html.parser")
tweet = weather_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
# print(tweet)

In [56]:
# Pull in cool facts about Mars
fact_url = "http://space-facts.com/mars/"
browser.visit(fact_url)
time.sleep(1)

In [57]:
html = browser.html
fact_soup = bs(html,"html.parser")

In [58]:
table = pd.read_html(fact_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [59]:
df_mars_facts = table[0]
df_mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [60]:
fact_html = df_mars_facts.to_html()
fact_html = fact_html.replace("\n", "")
fact_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [61]:
# Pull in information about Mars hemisphere
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)
time.sleep(1)

In [62]:
html = browser.html
hemi_soup = bs(html,"html.parser")
headers=[]
titles = hemi_soup.find_all('h3')

In [63]:
for title in titles:
    headers.append(title.text)
images=[]
count=0
for thumb in headers:
    browser.find_by_css('img.thumb')[count].click()
    images.append(browser.find_by_text('Sample')['href'])
    browser.back()
    count=count+1

hemisphere_image_urls = []
counter = 0
for item in images:
    hemisphere_image_urls.append({"title":headers[counter],"img_url":images[counter]})
    counter = counter+1